{% unless section.settings.fullWidth %}
	<div class="page-width">
	{% endunless %}
	<div class="custom_background">
		{% if section.settings.section_title != blank %}
			<div class="section-header">
				<h3 class="section-header__title">{{ section.settings.section_title }}</h3>
				{% if section.settings.section_content != blank %}<div class="section_description">{{ section.settings.section_content }}</div>{% endif %}
			</div>
		{% endif %}
		<div class="gallery-pro-wrapper" id="dp__{{section.id}}">
			<div class="gallery-sizer column-{{section.settings.columns}}"></div>
			{% for block in section.blocks %}
				<div class="gallery-item column-{{section.settings.columns}}" id="dp_bl_{{block.id}}" >
					{% if block.settings.image != blank %}
						<div class="gallery_item_info_new">
							<img class="lazy2" loading="lazy" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ block.settings.image | img_url: '720x' }}" data-mobsrc="{{ block.settings.image | img_url: '480x' }}" data-aspectratio="{{ block.settings.image.aspect_ratio }}" data-sizes="auto" alt="{{ block.settings.image.alt }}">
							<noscript>
								<img class="lazyloaded" src="{{ block.settings.image | img_url: '400x' }}" alt="{{ block.settings.image.alt }}">
							</noscript>
							<div class="gallery_content_info">
								<div class="gallery_content-box">
									{% if block.settings.title != "" %}
										<div class="imagebox__title">
											{{block.settings.title}}
										</div>
										{% if block.settings.description != "" %}
											<p>{{block.settings.description}}</p>
										{% endif %}
									{% endif %}

									<div class="imagebox__btnwrap">
										{% unless section.settings.disableBtn %}
											{% if block.settings.link %}
												<a href="{{block.settings.link}}" class="imagebox__btn ny0hes">{{block.settings.button_name}}</a>
											{% endif %}
											{% if block.settings.link_second %}
												<a href="{{block.settings.link_second}}" class="imagebox__btn ny0hes">{{block.settings.button_name_second}}</a>
											{% endif %}
										{% endunless %}
										{% unless section.settings.disableShopBtn %}
											{% assign proHandle = block.settings.link_second | split: "/" | last %}
											{% assign product = all_products[proHandle] %}
											{% capture form_id %}AddToCartForm-{{ product.selected_or_first_available_variant.id }}{% endcapture %}
											{% form 'product', product, id: form_id, class: 'product-single__form' %}
												{% assign cpro = product.selected_or_first_available_variant %}
												<input type="hidden" name="id" value="{{ cpro.id }}">

												<button type="submit" href="{{block.settings.link}}" class="imagebox__btn ny0hes addToCartButton">SHOP NOW</button>
												<div id="VariantsJson-{{ section_id }}" class="hide" aria-hidden="true">
													{{ product.variants | json }}
												</div>
												{% if product.options.size > 1 %}
													<div id="CurrentVariantJson-{{ section_id }}" class="hide" aria-hidden="true">
														{{ current_variant | json }}
													</div>
												{% endif %}
											{% endform %}
										{% endunless %}
									</div>
								</div>
							</div>
						</div>
					{% endif %}
					{% style %}
						#dp_bl_{{ block.id }} {
							padding:{{block.settings.padding}};
						}
						#dp_bl_{{ block.id }} .gallery_content_info {
							{% if block.settings.alignment == "top" %}
								align-items:flex-start;
							{% endif %}
							{% if block.settings.alignment == "bottom" %}
								align-items:flex-end;
							{% endif %}
						}
						@media only screen and (max-width: 540px) {
							#dp_bl_{{ block.id }} {
								padding:{{ block.settings.mobile_padding }};
							}
						}
					{% endstyle %}
				</div>
			{% endfor %}
		</div>
	</div>
	{% unless section.settings.fullWidth %}
	</div>
{% endunless %}

{% style %}
	#shopify-section-{{ section.id }}.depro-gallery .custom_background {
		/*padding: {{ section.settings.padding }}; */
		background-color: {{ section.settings.background_color }};
	}
	#shopify-section-{{ section.id}} .custom_background {
		margin-left:-20px;
		margin-right:-20px;
	}
	@media only screen and (max-width: 540px) {
		#shopify-section-{{ section.id }} .custom_background {
			margin-left:-5px;
			margin-right:-5px;
		}
	}
	@media only screen and (max-width: 768px) {
		#shopify-section-{{ section.id }}.depro-gallery .custom_background {
			padding: {{ section.settings.mobile_padding }};
		}
	}
{% endstyle %}