.octane-ai-quiz-rendered button {
  border: none ;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  letter-spacing: .1265em;
  text-transform: uppercase;
}
/* Button Animation Start */
.template-page .shopify-section .main_form button,
.octane-ai-quiz-rendered button,
.page-content--product .add-to-cart,
.footer__collapsible button.needsclick,
.imagebox__btnwrap a {
  /* background: unset; */
  border: none !important;
  border-radius: 0;
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  text-align: center;
}
.template-page .shopify-section .main_form button::after,
.octane-ai-quiz-rendered button::after,
.page-content--product .add-to-cart::after,
.footer__collapsible button.needsclick::after,
.imagebox__btnwrap a::after {
  background-image: linear-gradient(to right,transparent,rgba(255,255,255,.25),transparent);
  content: '';
  height: 100%;
  left: 150%;
  position: absolute;
  top: 0;
  transform: skewX(-20deg);
  width: 200%;
}
.template-page .shopify-section .main_form button:hover::after,
.octane-ai-quiz-rendered button:hover::after,
.page-content--product .add-to-cart:hover::after,
.footer__collapsible button.needsclick:hover::after,
.imagebox__btnwrap a:hover::after {
  animation: shine .75s cubic-bezier(.01,.56,1,1);
}
.page-content--product .product-single__form .add-to-cart:hover {
  background-color: #ff5121 !important;
  color: #fff !important;
}
/* Button Animation End */

/* New Mega Menu Style Start */
.header-layout .custom_dropdown .site-nav__dropdown.megamenu.styled_megamenu {
  background-color: transparent !important;
  box-shadow: none;
  transition: unset;
}
/* .megamenuContainer {
  background-color:#F7F6F1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 55.4375rem;
  margin: 0 auto;
  padding: 2.5rem 3.625rem;
}
.megamenuWrapper {
  flex: 1 1 33.33%;
  max-width: 33.33%;
  padding: 0 1.5rem;
} */
.megamenuContainer {
  background-color: #f7f6f1;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 10%), -4px 2px 4px rgb(0 0 0 / 10%), 4px 2px 4px rgb(0 0 0 / 10%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 2.5rem 3.625rem;
  width: fit-content;
}
.megamenuWrapper {
  display: flex;
  flex-direction: column;
  min-width: 25%;
  padding: 0 1.5rem;
  width: 256px;
}
.megamenuTitle {
  color: #000;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
}
.megamenuContent {
  color: #8b8787;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: .5em;
}
.megamenuLink {
  line-height: 1.5;
  margin-top: auto;
}
.megamenuLink ul {
  margin: 0 -0.25em;
}
.header-layout .custom_dropdown .site-nav--is-megamenu .site-nav__dropdown .megamenuLink a {
  align-items: center;
  border: 1px solid currentColor;
  color: #2274a5;
  display: flex;
  font-family: "Work Sans",sans-serif;
  font-size: .75rem;
  font-weight: 700;
  justify-content: center;
  letter-spacing: .1265em;
  margin: 0.25em;
  min-height: 4.15em;
  padding: 0.5em 1em;
  text-align: center;
  text-transform: uppercase;
}
.header-layout .site-nav > li:hover > a,
.header-layout .custom_dropdown .site-nav--is-megamenu .site-nav__dropdown .megamenuLink a:focus,
.header-layout .custom_dropdown .site-nav--is-megamenu .site-nav__dropdown .megamenuLink a:hover {
  background-color: transparent !important;
  color: #ff5121 !important;
}
/* New Mega Menu Style End */

/* Footer Style End */
.footer__collapsible input[type="email"] {
  height: 46px;
}
.footer__collapsible button.needsclick {
  border: none !important;
  font-family: "Work Sans", sans-serif!important;
  font-weight: 700!important;
  letter-spacing: .1265em!important;
  text-transform: uppercase;
  padding: 16px 15px !important;
}
/* Footer Style End */

/* Homepage Style Strat */
#shopify-section-1588631401313 .section_description {
  margin-top: 0;
}
/* .gallery-item img {
  opacity: 1;
  transition: opacity .5s ease-in-out;
} */
.gallery_item_info_new .gallery_content_info {
  background-color: rgb(38 29 45 / 70%);
  display: flex;
  opacity: 0;
  transition: opacity .4s ease-in-out;
}
/* .gallery-item:hover img {
  opacity: 0.75;
} */
.gallery-item:hover .gallery_item_info_new .gallery_content_info {
  opacity: 1;
}
.gallery_item_info_new .gallery_content_info .imagebox__btnwrap a {
  font-size: 0.75em !important;
  font-weight: bold !important;
  letter-spacing: 0.1265em;
}
/* Homepage Style End */

.bestSellerItem::before {
  background-color: #F45332;
  color: #fff;
  content: attr(data-tag);
  font-family: "Work Sans", sans-serif;
  font-size: 13px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0.15em;
  line-height: 1;
  padding: .5em .75em;
  position: absolute;
  text-transform: uppercase;
  top: 1.625rem;
  z-index: 99;
}
.product_requirementsContent {
  display: none;
}

/* Product Page Style Start */
.product_short_description {
  font-family: "Work Sans", sans-serif;
  font-style: italic;
  font-weight: 500;
}
.product-single__description .collapsible-content--all[style*="height: 0px"] {
  margin: 0;
}
.bodyLoaded .product__price {
  display: block;
}
.product__price {
  display: none;
}
.product-single__meta .product__price span.money.notranslate {
  color: #2274a5;
  font-family: Lora, serif;
  font-size: 2rem;
  font-weight: 500;
}
.product-single__meta hr {
  border-color: #B7B7AE;
}
.product-single__form .add-to-cart {
  font-size: 1rem;
}
/* Product Page Style Ends */

/* Product Sticky Cart Style Start */
#custom_for_product_by_dp.custom_for_product_by_dp.custom_for_product_by_dp_wrapper {
  all: unset;
  background-color: #ffffff;
  bottom: 0%;
  box-shadow: 0px -4px 4px rgb(0 0 0 / 10%);
  box-sizing: border-box;
  color: #474747;
  display: block;
  height: auto;
  left: 0;
  padding: 20px;
  pointer-events: none;
  position: sticky;
  right: 0;
  top: auto;
  transition: all 1s;
  z-index: 999;
}
.template-product .dp--opening {
  margin-bottom: 0 !important;
}
.template-product #PageContainer {
  margin-bottom: 0 !important;
  overflow: unset !important;
}
.template-product #PageContainer .transition-body {
  display: inline-block;
  width: 100%;
}
.dp--opening #custom_for_product_by_dp.custom_for_product_by_dp.custom_for_product_by_dp_wrapper {
  bottom: 0%;
  display: inline-block;
  pointer-events: all;
  top: auto!important;
  width: 100%;
}
#custom_for_product_by_dp.custom_for_product_by_dp.custom_for_product_by_dp_wrapper li {
  font-family: "Work Sans", sans-serif;
}
#custom_for_product_by_dp.custom_for_product_by_dp.custom_for_product_by_dp_wrapper li.dp-title {
  font-family: Lora, serif;
  font-weight: 700;
  letter-spacing: .025em;
  line-height: 1.5;
  text-transform: none;
}
#custom_for_product_by_dp.custom_for_product_by_dp.custom_for_product_by_dp_wrapper li.dp-price {
  font-family: Lora,serif;
  font-weight: 500;
}
span.mobilePrice {
  display: none;
}
span.saprater {
  margin: 0 .5em 0 .25em;
  text-decoration: line-through;
  text-decoration-thickness: 0.2em;
}
/* Product Sticky Cart Style Ends */

/* Product Review Style start */
#stamped-reviews-widget[data-widget-type=full-page] .stamped-ratings-wrapper > div,
div[data-widget-style*=standard] .stamped-review,
.stamped-review-header-title,
.stamped-summary-ratings {
  text-align: left !important;
}
/* Product Review Style Ends */

/* Gallery Style Start */
.gallery_item_info_new {
  position: relative;
}
/* Gallery Style End */

@media only screen and (min-width: 992px) {
  /* Homepage Style Start */
  #shopify-section-1588800826092 .before-after-wrapper .product__thumb-item img {
    min-height: unset !important;
    min-width: unset !important;
  }
  /* Homepage Style End */
}
@media only screen and (min-width: 768px) {
  .template-product #PageContainer:not(.dp--opening) #custom_for_product_by_dp.custom_for_product_by_dp.custom_for_product_by_dp_wrapper {
    bottom: -100%;
  }
}
@media only screen and (min-width: 769px) {
  #custom_for_product_by_dp.custom_for_product_by_dp.custom_for_product_by_dp_wrapper li.dp-price {
    margin-left: auto !important;
  }
  .site-header {
    padding: 2px 0;
  }
  .site-nav__link {
    padding-bottom: 25px;
    padding-top: 25px;
  }
}
@media only screen and (max-width: 768px) {
  .product-single__meta,
  .custom__item-inner--html .rte {
    text-align: left !important;
  }
  .custom__item-inner--html .rte .btn {
    display: block !important;
  }
  #custom_for_product_by_dp.custom_for_product_by_dp.custom_for_product_by_dp_wrapper {
    padding: 15px 20px;
  }
  .secondFooterInfoWrapper ul, .secondFooterInfoWrapper ul li, .secondFooterInfoWrapper ul li a {
    justify-content: center;
  }
  #custom_for_product_by_dp.custom_for_product_by_dp.custom_for_product_by_dp_wrapper ul {
    flex-wrap: wrap;
  }
  #custom_for_product_by_dp.custom_for_product_by_dp.custom_for_product_by_dp_wrapper li {
    flex: 1 1 100%;
    /* font-size: 0.8rem !important; */
    margin-bottom: .5em !important;
    width: 100%;
  }
  #custom_for_product_by_dp.custom_for_product_by_dp.custom_for_product_by_dp_wrapper li.dp-title {
    font-size: 15px !important;
  }
  li.dp-price {
    display: none;
  }
  .custom_for_product_by_dp li.dp-title,
  span.mobilePrice {
    display: inline-block !important;
  }
  #custom_for_product_by_dp.custom_for_product_by_dp.custom_for_product_by_dp_wrapper li .btn {
    letter-spacing: 0em;
    padding: 10px 20px !important;
  }
}